*{
    font-family: Georgia, serif;
}

body{
    margin: 0;
}

p{
    text-align: center;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #35568F;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

a{
    text-decoration: none;
    color: antiquewhite;
}

footer{
    width: 100%;
    height: 40vh;
    background-color: black;
}

/*///////////////////////// Página de carga /////////////////////////*/

.void{
    height: 100px;
}

.void-dep{
    height: 100px;
}

.big-void{
    height: 7000px;
    background-color: aquamarine;
}

.small-void{
    width: 2vh;
    height: 50px;
}

.loader{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    z-index: 1;
}

.load-elem{ 
    position: relative;
    left: 45px;
    width: 75%;
}

.hide{
    background-color: white;
    opacity: 0;
    z-index: 0;
    transition: opacity 1000ms ease-out;
}

/*///////////////////////// Barra de navegación /////////////////////////*/

.logo{
    position: relative;
    top: 7px;
    width: 50px;
}
.logo2{
    position: relative;
    display: none;
    top: 7px;
    width: 50px;
}

.logoMob{
    display: none;
}

.name{
    width: 275px;
}

.logo-name{
    position: relative;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.menu{
    position: relative;
    top: 5px;
    left: 17px;
    width: 30px;
    height: 60px;    
    display: none;
}

.nav-sec ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-sec li{
    list-style: none;
    padding: 3rem;
    display: block;
}

.nav-sec li:hover{
    background-color: steelblue;
}

.nav-sec-mob{
    display: none;
}


/*///////////////////////// Página de bienvenida /////////////////////////*/

.portada{
    top: 780px;
    height: 97vh;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/CSU_Spur_Terra_construction_2021-03-31.jpg/1280px-CSU_Spur_Terra_construction_2021-03-31.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    justify-items: flex-end;
    padding-right: 10vh;
}

.letr-port{
    color: rgb(255, 255, 255);
    font-size: xx-large;
    width: 70vh;
    left: 30vh;
    text-shadow:  0 0 3px #000000, 0 0 5px #000000;
}

.letr-port-mob{
    display: none;
}

.boton{
    background-color: goldenrod;
    width: 200px;
    height: 75px;
    display: grid;
    align-items: center;
    font-size: larger;
    border-radius: 10px;
}

/*//////////////////////// Whats ////////////////////////////*/

.whats{
    position: fixed;
    top: 90vh;
    right: 1vh;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg);
    width: 55px;
    height: 55px;
}

/*//////////////////////// Departamentos ////////////////////////////*/

.depart{
    background-image: url(assets/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27%;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
}

.dept-left{
    display: grid;
    justify-content: space-around;
}

.dep-tit{
    font-size: xx-large;
    padding: 30px;
}

.dep-tit-mob{
    display: none;
}

.dept-img{
    position: relative;
    top: 120px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Construction_workers_in_Iran_03.jpg/1280px-Construction_workers_in_Iran_03.jpg);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 650px;
    border-radius: 10px;
}

.plom-img{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Sticking_the_tees_into_the_pvc.jpg/135px-Sticking_the_tees_into_the_pvc.jpg);
    background-position: center;
    width: 75px;
    height: 75px;
    border-radius: 12px;
}

.const-img{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Brick_wall_old.jpg/185px-Brick_wall_old.jpg);
    background-size: contain;
    width: 75px;
    height: 75px;
    border-radius: 12px;
}

.ferr-img{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/NHB_Groundbreaking_Shovel_-_Flickr_-_The_Central_Intelligence_Agency.jpg/320px-NHB_Groundbreaking_Shovel_-_Flickr_-_The_Central_Intelligence_Agency.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140%;
    width: 75px;
    height: 75px;
    border-radius: 12px;
}

.dept{
    margin-left: 2vh;
    padding: 10px;
    width: 300px;
    display: flex;
    align-items: center;
    
    font-size: x-large;
    font-weight: bold;
}

/*//////////////////////// Animaciones ////////////////////////////*/

@media (max-width: 1003px){
    .menu{
        display: flex;
    }

    .nav-sec{
        display: none;
    }
    .logo{
        display: none;
    }
    .name{
        width: 150px;
    }
    .logoMob{
        display: block;
        width: 30px;
    }
    .logo2{
        display: flex;
        top: 5px;
        right: 20px;
        width: 50px;
    }
    .nav-sec-mob{
        display: none;
        position: fixed;
        top: 60px;
        width: 200px;
        background-color: steelblue;
    }
    .nav-sec-mob li{
        list-style: none;
        padding: 1rem;
        display: block;
        border-color: black;
    }

    .nav-sec-mob.active { 
        display: flex;
        animation: sub-menu 7500ms ease-out;
    }

    .portada{
        top: 23px;
        justify-items: center;
        padding: 0;
    }

    .letr-port{
        display: none;
    }

    .letr-port-mob{
        display: flex;
        font-size: xx-large;
        color: white;
        text-shadow:  0 0 3px #000000, 0 0 5px #000000;
    }

    .dep-tit{
        display: none;
    }

    .dept-img{
        display: none;
    }

    .depart{
        background-image: none;
    }

    .dep-tit-mob{
        display: flex;
    }

    .void-dep{
        display: none;
    }

    .boton{
        width: 170px;
        height: 60px;
    }
}


@keyframes sub-menu {
    0% {
        transform: translateX(-110);
    }
    100% {
        transform: translate(0);
    }
}